<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangry: Randomize Favorites</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <h2 id="page_title">Hangry</h2>
        <div class="button_div">
            <a href=""><button class="button navbar_link" onmouseover="nav_link_react(this)" onmouseout="nav_link_unreact(this)">Add New Favorite</button></a>
            <a href=""><button class="button navbar_link" onmouseover="nav_link_react(this)" onmouseout="nav_link_unreact(this)">Add New Location</button></a>
            <a href=""><button class="button navbar_link" onmouseover="nav_link_react(this)" onmouseout="nav_link_unreact(this)">Find A New Go-To</button></a>
        </div>
    </div>
    <div class="content choose_location">
        <h1>Get a Random Favorite!</h1>
        <h3>Choose a list of your favorite options based on your location</h3>
        <form class="location_form" action="" method="post">
            <label for="location_list">Location List: </label>
            <select name="location_list" id="location_list">
                <option value="all">All Favorites</option>
                <!-- jinja code that displays the users saved locations -->
            </select>
            <input class="button box_button red_btn_white_wrd rand_favs_btns" type="submit" value="Select" onmouseover="rand_favs_btns_react(this)" onmouseout="rand_favs_btns_unreact(this)">
        </form>
    </div>
    <div class="content select_favorites">
        <h3>Deselect options that don't sound good right now.<br>Then click "Pick A Favorite" to pick a random restaurant from your selected favorites.</h3>
        <form action="" method="post">
            <div class="fav_options">
                <p>example</p>
                <p>example</p>
                <p>example</p>
            </div>
            <!-- jinja code that shows all of the favorites assosiated with the location list pre checked off -->
            <input class="button box_button red_btn_white_wrd rand_favs_btns" type="submit" value="Pick A Favorite" onmouseover="rand_favs_btns_react(this)" onmouseout="rand_favs_btns_unreact(this)">
        </form>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>