<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        body {
            text-align: center;
        }
        .containBoxes {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
        .boxes {
            height: 200px;
            width: 200px;
            background-color: {{ color }};
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="containBoxes">
        {% for i in range(times):%}
            <div class="boxes"></div>
        {% endfor %}
        <!-- <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div> -->
    </div>
</body>
</html>