<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recipe</title>
</head>
<body>
    <h1>Add New Recipe</h1>
    <button><a href="/dashboard">Dashboard</a></button>
    <button><a href="/logout">Logout</a></button>
    <div class="container">
        {% with recipes_errors = get_flashed_messages(category_filter=['recipes_error']) %}
            {% if recipes_errors %}
                {% for recipes_error in recipes_errors %}
                    <p>{{recipes_error}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/recipes/new/process" method="post">
            <label for="name">Name of Recipe: </label>
            <input type="text" name="name" id="name">
            <label for="description">Description: </label>
            <input type="text" name="description" id="description">
            <label for="instructions">Instructions: </label>
            <input type="text" name="instructions" id="instructions">
            <label for="date_made_on">Date Made On: </label>
            <input type="date" name="date_made_on" id="date_made_on">
            <p>Under 30 Minutes? </p>
            <label for="under_30_Yes">Yes</label>
            <input type="radio" name="under_30" id="under_30_Yes" value="Yes">
            <label for="under_30_No">No</label>
            <input type="radio" name="under_30" id="under_30_No" value="No">
            <input type="hidden" name="user_id" value="{{user_id}}">
            <input type="submit" value="Create">
        </form>
    </div>
</body>
</html>