<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <div class="container">
        <h2>New Books</h2>
        <form action="/books/new" method="post">
            <label for="title">Title: </label>
            <input type="text" name="title" id="title">
            <label for="num_of_pages">Number of pages: </label>
            <input type="text" name="num_of_pages" id="num_of_pages">
            <input type="submit" value="Create">
        </form>
    </div>
    <div class="container">
        <h2>All Books</h2>
        <ul>
            {% for one_book in all_books %}
                <li><a href="/books/{{one_book.id}}">{{one_book.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="/authors">Home</a>
</body>
</html>